/* Importando as fontes de dentro do projeto */
@font-face {
    font-family: Young-Serif;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

/* variaveis de cores */

:root{

    /* Primary */
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --Dark-Raspberry-2: hsla(332, 51%, 32%, 0.123);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Rose-hite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--Eggshell);
    font-family: Outfit;
}
.container{
    max-height:1600px;
    max-width:700px;
    margin : 50px auto;
    background-color: var(--White);
    padding: 30px;
    border-radius: 15px;
}

/* Estilizando: Banner */
.img-omelette{
    max-width: 100%;
    border-radius: 15px;
}

.title-1{
    font-size: 40px;
    font-family: Young-Serif;
    font-weight: 400;
    margin-top: 15px;
    color: var(--Dark-Charcoal);
}

.description-1{
    color: var(--Wenge-Brown);
    font-size: 16px;
    margin-top: 15px;
    font-weight: 400;
}
/* Fim */

/* Estilizando: Preparation Time */
.preparation{
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-Raspberry-2);
    padding: 25px;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 18px;
    gap: 20px;
    
}

.title-2{
    color: var(--Dark-Raspberry);
}

.list-1{
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-list-1{
    color: var(--Wenge-Brown);
}
.item-list-1::marker{
    color: var(--Dark-Raspberry);
}

/* Fim */

/* Estilizando: Ingredients */

.ingredients{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.title-3{
    font-size: 30px;
    font-family: Young-Serif;
    color: var(--Nutmeg);
    font-weight: lighter;
}

.list-2{
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.item-list-2{
    color: var(--Wenge-Brown);
}
.item-list-2::marker{
    color: var(--Nutmeg);
}

/* Fim */

/* Estilizando: Instructions */

.instructions{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.title-4{
    font-size: 30px;
    font-family: Young-Serif;
    color: var(--Nutmeg);
    font-weight: lighter;
}

.list-3{
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-list-3{
    color: var(--Wenge-Brown);
}
.item-list-3::marker{
    color: var(--Nutmeg);
    font-weight: bolder;
}

/* Fim */

/* Estilizando: Nutrition */

.nutrition{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.title-5{
    font-size: 30px;
    font-family: Young-Serif;
    color: var(--Nutmeg);
    font-weight: lighter;
}

.description-2{
    color: var(--Wenge-Brown);
    font-size: 16px;
    font-weight: 400;
}

table{
    width: 375px;
    border-collapse: collapse;

}

td{
    padding: 10px 30px;
}

#bold-data{
    font-weight: bolder;
    color: var(--Nutmeg);
}

#item-table{
    color: var(--Wenge-Brown);
}



/* Fim */

